
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" type="text/css" />

    <!-- General CSS  -->
    <link rel="stylesheet" href="/static/css/base.css">

    <!-- App icon -->
    <link rel="shortcut icon" href="/static/favicon.svg">
 
    <title>Task</title>

</head>

<body id="base" class="container">

    <div id="home">

        {% block content %}
        {% endblock content %}

    </div>

</body>

    <!-- Bootstrap core JS-->
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>

</html>
